language: python
cache: pip
python:
  - "3.8"
before_install:
  - export DJANGO_SETTINGS_MODULE="meetpy.settings.ci"
install:
  - pip install -r requirements.txt
before_script:
  - cd meetpy
  - ./manage.py migrate
script:
  - pytest
