[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==3.6.0"
djet = "==0.0.10"
pytest-cov = "==2.5.1"
pytest-django = "==3.2.1"
factory-boy = "==2.5.2"

[packages]
django = "==1.11"
django-embed-video = "==1.0.0"
pillow = "==2.9.0"

[requires]
python_version = "3.7"
