[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[dev-packages]
pytest = "==3.7.1"
djet = "==0.2.2"
pytest-cov = "==2.5.1"
pytest-django = "==3.4.1"
factory-boy = "==2.11.1"
pdbpp = "*"
"flake8" = {git = "https://gitlab.com/pycqa/flake8", editable = true, ref = "9631dac5"}
pyflakes = "==2.0.0"

[packages]
Django = "==2.1"
django-embed-video = "==1.1.2"
pillow = "==5.2.0"

[pipenv]
allow_prereleases = true
