Django~=5.2.6
Pillow
discord-webhook~=1.3.0
django-embed-video
django-environ
django-recaptcha
djet
factory-boy
markdown
pyyaml
requests

# Dev / tests
pytest
pytest-cov
pytest-django

# Deployment
gunicorn
