<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhNca45HD9Q_OMp-g2qNlSLwmOqaKCwXs&amp;sensor=false"></script>
<script type="text/javascript">
    function initialize() {
        var venue = new google.maps.LatLng({{ latitude }}, {{ longitude }});
        var mapOptions = {
            center: venue,
            zoom: {% if zoom %}{{ zoom }}{% else %}12{% endif %},
            disableDefaultUI: {% if disable_ui %}true{% else %}false{% endif %},
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false
        };
        var map = new google.maps.Map(document.getElementById("{{ canvas_id }}"), mapOptions);
        var marker = new google.maps.Marker({
            position: venue
        });
        marker.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
