{% extends "base_content.html" %}

{% block title %}FAQ{% endblock %}

{% block og_title %}FAQ{% endblock %}

{% block subcontent %}
    <div class="margin-bottom-large faq">
        <h1>FAQ</h1>
        <ol class="page-menu margin-bottom-large">
            <li><a href="#for-attendees">Dla uczestników</a></li>
            <li><a href="#for-speakers">Dla prelegentów</a></li>
            <li><a href="#for-sponsors">Dla sponsorów</a></li>
        </ol>
        <div id="for-speakers">
            <h2>Dla prelegentów</h2>
            <h3>Jak się zgłosić?</h3>
                <p>Prosimy przesyłać propozycję prezentacji za pomocą <a href="{% url "meetups:talk_proposal" %}">formularza zgłoszeniowego</a>.</p>
            <h3>Ile czasu będzie przeznaczone na moją prezentację?</h3>
                <p>Standardowo jedna prezentacja trwa około 18 minut. Staramy się pilnować wyznaczonego czasu i po jego przekroczeniu będziemy prosić prelegenta o jak najszybsze zakończenie wystąpienia. Na jednym spotkaniu odbywają się maksimum 4 prezentacje.</p>
            <h3>Co powinienem zrobić w dniu prezentacji?</h3>
                <p>Prosimy prelegentów o przybycie minimum 15 minut przed rozpoczęciem spotkania, abyśmy mogli rozwiązać potencjalne problemy np. z podłączeniem laptopa do rzutnika czy internetu.</p>
            <h3>Co powinienem zrobić po prezentacji?</h3>
                <p>Prosimy o przesłanie nam materiałów prezentowanych podczas prelekcji (np. slajdy, kod) abyśmy mogli umieścić je na podstronie spotkania.</p>
            <h3>Czy dozwolone są prezentacje reklamujące komercyjne produkty lub ogłoszenia rekrutacyjne?</h3>
                <p>Takie prezentacje nie są wpisywane do agendy, ale po głównych prezentacjach mamy czas przeznaczony na tego typu krótkie ogłoszenia. Prosimy poinformować nas przed spotkaniem o chęci wystąpienia.</p>
        </div>
        <div id="for-attendees" class="margin-top-big">
            <h2>Dla uczestników</h2>
            <h3>W jakim języku odbywają się spotkania?</h3>
                <p>Większość prezentacji prowadzona jest w języku polskim, w tym języku prowadzimy też spotkanie. Zdarzają się jednak prezentacje w języku angielskim - zostają one odpowiednio oznaczone w agendzie.</p>
            <h3>Jak wyglądają spotkania PyWaw?</h3>
                <p>W ramach spotkań odbywają się 2-3 prezentacje związane z Pythonem i ogólnie IT. Następnie większość uczestników zostaje na networking przy piwie. Zachęcamy do zapoznania się z <a href="https://www.youtube.com/watch?v=Rrbpnrs8neM">video o naszych spotkaniach</a>.</p>
        </div>
        <div id="for-sponsors" class="margin-top-big">
            <h2>Dla sponsorów</h2>
            <h3>Jak zostać sponsorem?</h3>
                <p>Prosimy o kontakt mailowy na info@pywaw.org gdzie omówimy szczegóły.</p>
            <h3>Na co mogę liczyć jako sponsor?</h3>
                <p>Sponsor naszych spotkań może liczyć na:</p>
                <ul>
                    <li>umieszczenie loga sponsora na głównej stronie PyWaw obok zapowiadanego spotkania,</li>
                    <li>umieszczenie loga sponsora na podstronie spotkania,</li>
                    <li>umieszczenie loga i opisu sponsora na podstronie “Sponsorzy”,</li>
                    <li>wymienienie jako sponsor spotkania podczas zapowiedzi spotkania przez organizatorów,</li>
                    <li>pojawienia się specjalnej notki o sponsorze spotkania w mediach społecznościowych (Facebook/Twitter),</li>
                    <li>umieszczenie swojego baneru w sali spotkania.</li>
                </ul>
            <h3>Na co przeznaczane są pieniądze?</h3>
                <p>W zależności od potrzeb przeznaczamy uzyskane pieniądze na następujące cele:</p>
                <ul>
                    <li>zakup napojów i jedzenia dla uczestników spotkania,</li>
                    <li>pokrycie kosztów związanych z przejazdem i pobytem w Warszawie zaproszonego prelegenta,</li>
                    <li>wynajęcie miejsca spotkań,</li>
                    <li>organizację innych wydarzeń niż comiesięczne spotkania, takich jak hackatony czy sprinty,</li>
                    <li>utrzymywanie infrastruktury PyWaw (domena, hosting),</li>
                    <li>ufundowanie drobnych podarunków (np. książki) rozlosowanych podczas spotkania.</li>
                </ul>
            <h3>Jak wygląda rozliczenie sponsoringu?</h3>
                <p>PyWaw wystawia faktury VAT.</p>
        </div>
    </div>
{% endblock %}
