{% extends "base_content.html" %}

{% load staticfiles %}

{% block title %}FAQ{% endblock %}

{% block og_title %}FAQ{% endblock %}

{% block subcontent %}
    <div class="margin-bottom-large faq">
        <h1>FAQ</h1>
        <ol class="page-menu margin-bottom-large">
            <li><a href="#for-attendees">Dla uczestników</a></li>
            <li><a href="#for-speakers">Dla prelegentów</a></li>
            <li><a href="#for-sponsors">Dla sponsorów</a></li>
            <li><a href="#for-partners">Dla partnerów</a></li>
        </ol>
        <div id="for-speakers">
            <h2>Dla prelegentów</h2>
            <h3>Jak się zgłosić?</h3>
                <p>Prosimy przesyłać propozycję prezentacji za pomocą <a href="{% url "meetups:talk_proposal" %}">formularza zgłoszeniowego</a>.</p>
            <h3>Ile czasu będzie przeznaczone na moją prezentację?</h3>
                <p>Standardowo jedna prezentacja trwa około 18 minut. Staramy się pilnować wyznaczonego czasu i po jego przekroczeniu będziemy prosić prelegenta o jak najszybsze zakończenie wystąpienia. Na jednym spotkaniu odbywają się maksimum 4 prezentacje.</p>
            <h3>Co powinienem zrobić w dniu prezentacji?</h3>
                <p>Prosimy prelegentów o przybycie minimum 15 minut przed rozpoczęciem spotkania, abyśmy mogli rozwiązać potencjalne problemy np. z podłączeniem laptopa do rzutnika czy internetu.</p>
            <h3>Co powinienem zrobić po prezentacji?</h3>
                <p>Prosimy o przesłanie nam materiałów prezentowanych podczas prelekcji (np. slajdy, kod) abyśmy mogli umieścić je na podstronie spotkania.</p>
            <h3>Czy dozwolone są prezentacje reklamujące komercyjne produkty lub ogłoszenia rekrutacyjne?</h3>
                <p>Takie prezentacje nie są wpisywane do agendy, ale po głównych prezentacjach mamy czas przeznaczony na tego typu krótkie ogłoszenia. Prosimy poinformować nas przed spotkaniem o chęci wystąpienia.</p>
        </div>
        <div id="for-attendees" class="margin-top-big">
            <h2>Dla uczestników</h2>
            <h3>W jakim języku odbywają się spotkania?</h3>
                <p>Większość prezentacji prowadzona jest w języku polskim, w tym języku prowadzimy też spotkanie. Zdarzają się jednak prezentacje w języku angielskim - zostają one odpowiednio oznaczone w agendzie.</p>
            <h3>Jak wyglądają spotkania PyWaw?</h3>
                <p>W ramach spotkań odbywają się 2-3 prezentacje związane z Pythonem i ogólnie IT. Następnie większość uczestników zostaje na networking przy piwie. Zachęcamy do zapoznania się z <a href="https://www.youtube.com/watch?v=Rrbpnrs8neM">video o naszych spotkaniach</a>.</p>
        </div>
        <div id="for-sponsors" class="margin-top-big">
            <h2>Dla sponsorów</h2>
            <h3>Jak zostać sponsorem?</h3>
                <p>Prosimy o kontakt mailowy na info@pywaw.org gdzie omówimy szczegóły.</p>
            <h3>Na co mogę liczyć jako sponsor?</h3>
                <p>Sponsor naszych spotkań może liczyć na:</p>
                <ul>
                    <li>umieszczenie loga sponsora na głównej stronie PyWaw obok zapowiadanego spotkania,</li>
                    <li>umieszczenie loga sponsora na podstronie spotkania,</li>
                    <li>umieszczenie loga i opisu sponsora na podstronie “Sponsorzy”,</li>
                    <li>wymienienie jako sponsor spotkania podczas zapowiedzi spotkania przez organizatorów,</li>
                    <li>pojawienia się specjalnej notki o sponsorze spotkania w mediach społecznościowych (Facebook/Twitter),</li>
                    <li>umieszczenie swojego baneru w sali spotkania.</li>
                </ul>
            <h3>Na co przeznaczane są pieniądze?</h3>
                <p>W zależności od potrzeb przeznaczamy uzyskane pieniądze na następujące cele:</p>
                <ul>
                    <li>zakup napojów i jedzenia dla uczestników spotkania,</li>
                    <li>pokrycie kosztów związanych z przejazdem i pobytem w Warszawie zaproszonego prelegenta,</li>
                    <li>wynajęcie miejsca spotkań,</li>
                    <li>organizację innych wydarzeń niż comiesięczne spotkania, takich jak hackatony czy sprinty,</li>
                    <li>utrzymywanie infrastruktury PyWaw (domena, hosting),</li>
                    <li>ufundowanie drobnych podarunków (np. książki) rozlosowanych podczas spotkania.</li>
                </ul>
            <h3>Jak wygląda rozliczenie sponsoringu?</h3>
                <p>PyWaw wystawia faktury VAT.</p>
        </div>
        <div id="for-partners" class="margin-top-big">
            <h2>Dla partnerów</h2>
            <h3>Kto może zostać partnerem?</h3>
            <p>Partnerem PyWaw może zostać dowolna inicjatywa, organizacja lub firma, jednak preferowane są działalności:</p>
            <ul>
                <li>niekomercyjne,</li>
                <li>poświęcona w głównej mierze językowi Python i jego środowisku,</li>
                <li>prowadzone w Warszawie.</li>
            </ul>
            <h3>Jak zostać partnerem?</h3>
            <p>Prosimy o kontakt mailowy na <a href="mailto:info@pywaw.org">info@pywaw.org</a>. W korespondencji prosimy o zawarcie informacji o:</p>
            <ul>
                <li>powiązaniu partnera z językiem Python i jego środowiskiem,</li>
                <li>kosztach uczestnictwa (jeżeli dotyczy),</li>
                <li>treściach marketingowych potrzebnych do promocji, np. szablon postu jaki miałby zostać opublikowany na naszych kanałach społecznościowych, logotyp inicjatywy, etc. (jeżeli dotyczy).</li>
                <li>proponowanych profitach dla społeczności PyWaw płynących z partnerstwa.</li>
            </ul>
            <h3>Na co mogę liczyć jako partner?</h3>
            <p>Partner naszej inicjatywy może liczyć na:</p>
            <ul>
                <li>umieszczenie loga partnera na głównej stronie PyWaw (sekcja partnerzy),</li>
                <li>promocja wydarzeń lub produktów partnera podczas zapowiedzi spotkania przez organizatorów,</li>
                <li>promocja wydarzeń lub produktów partnera na naszych kanałach social media.</li>
            </ul>
            <h3>Czego oczekuje PyWaw w zamian za nawiązanie partnerstwa?</h3>
            <p>Zależy to od rodzaju współpracy, ale najczęściej jest to:</p>
            <ul>
                <li>umieszczenie naszego logotypu na stronie partnera,</li>
                <li>promocja wydarzeń organizowanych przez PyWaw na kanałach społecznościowych partnera,</li>
                <li>wejściówka na wydarzenie/egzemplarz produktu partnera/kod rabatowy dla uczestników naszych spotkań.</li>
            </ul>
            <h3>Gdzie znajdę materiały promocyjne PyWaw?</h3>
            <ul>
                <li>opis - <a href="#description-pl" data-toggle="modal">PL</a>, <a href="#description-en" data-toggle="modal">EN</a></li>
                <li>logotyp - <a href="{% static 'marketing/pywaw_logo.png' %}" target="_blank">PNG</a>, <a href="{% static 'marketing/pywaw_logo.ai' %}" target="_blank">AI</a></li>
                <li><a href="https://www.youtube.com/watch?v=Rrbpnrs8neM" target="_blank">video</a></li>
            </ul>

            <div id="description-pl" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Opis PyWaw - PL</h3>
                </div>
                <div class="modal-body">
                    <p>
                        PyWaw to cykliczne spotkania pasjonatów języka programowania Python z Warszawy i okolic. Projekt ten skierowany jest zarówno do studentów stołecznych uczelni, profesjonalnych
                        deweloperów oraz wszystkich tych, którzy swoją przygodę z Pythonem dopiero zaczynają. Celem naszych spotkań jest wymiana doświadczenia pomiędzy programistami, integracja
                        pythonowego środowiska Warszawy oraz propagowanie Pythona jako uniwersalnego języka programowania. Spotkania PyWaw odbywają się w każdy drugi lub trzeci poniedziałek
                        miesiąca.
                    </p>
                </div>
            </div>

            <div id="description-en" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Opis PyWaw - EN</h3>
                </div>
                <div class="modal-body">
                    <p>PyWaw is a community that gathers Python hobbyists from Warsaw and its surroundings. This project is aimed at not only Computer Sciences students or professional developers, but
                        also all of you who have just started the Python experience. Our goals are various – exchange our experiences and ideas, integration of Python people in Warsaw and spreading
                        the fame of Python as a universal programming language. Our meetings are held every second (or third) Monday of a month. Feel free to join us anytime!</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
