{% extends "base.html" %}

{% block content %}
    <p>PyWaw to cykliczne spotkania pasjonatów języka programowania Python z Warszawy i okolic. Projekt ten skierowany 
    jest zarówno do studentów stołecznych uczelni, profesjonalnych deweloperów oraz wszystkich tych, którzy swoją 
    przygodę z Pythonem dopiero zaczynają. Celem naszych spotkań jest wymiana doświadczenia pomiędzy programistami, 
    integracja pythonowego środowiska Warszawy oraz propagowanie Pythona jako uniwersalnego języka programowania. 
    Spotkania PyWaw odbywają się w każdy drugi lub trzeci poniedziałek miesiąca.</p>
{% endblock %}
