{% extends "base.html" %}

{% load static %}

{% block title %}{{ meetup }} promo{% endblock %}

{% block og_title %}{{ meetup }} promo{% endblock %}

{% block content %}
<div class="container" itemscope itemtype="http://schema.org/Event">
    <div class="row">
        <div class="span2 img-tip">
            <div class="line-orange"></div>
        </div>
        <div class="span8">
            <h1 itemprop="name">{{ object }} promo</h1>
        </div>
    </div>
    <div class="row margin-top-big">
        <div class="offset2 span10">
            {% include 'meetups/promos/meetup.html' %}
        </div>
    </div>
    <div class="row margin-top-big">
        <div class="offset2 span10">
            {% include 'meetups/promos/facebook.html' %}
        </div>
    </div>
    <div class="row margin-top-big">
        <div class="offset2 span10">
            {% include 'meetups/promos/youtube.html' %}
        </div>
    </div>
    <div class="row margin-top-big">
    </div>
</div>

{% endblock %}
