{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span2 img-tip">
            <div class="line-orange"></div>
        </div>
        <div class="span10">
            {% for meetup in object_list %}
            <div class="margin-bottom-large">
                <div class="row">
                    <div class="span10 list-caption">
                        <h2 class="text-number">{{ meetup.name }}</h2>
                        <div class="span2"><h4 class="date-small">{{ meetup.date|date:"d.m.Y" }}</h4></div>
                        <div class="span2"><a href="{% url 'meetups:detail' pk=meetup.pk %}" class="button button-block">SZCZEGÓŁY</a></div>
                    </div>
                </div>
                <ul class="unstyled">
                    {% for talk in meetup.talks.all %}
                    <li>
                        {% for speaker in talk.speakers.all %}
                         <strong>{% if speaker.website %}<a href="{{ speaker.website }}">{{ speaker }}</a>{% else %}{{ speaker }}{% endif %}: </strong>
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                       {{ talk.title }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
