{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ meetup }} - {{ meetup.date|date:"d.m.Y" }}{% endblock %}

{% block css %}
<link href="{% static 'css/bootstrap-image-gallery.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/load-image.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-image-gallery.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhNca45HD9Q_OMp-g2qNlSLwmOqaKCwXs&sensor=false"></script>
<script type="text/javascript">
    function initialize() {
        var venue = new google.maps.LatLng({{ object.venue.latitude }}, {{ object.venue.longitude }});
        var mapOptions = {
            center: venue,
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        var marker = new google.maps.Marker({
            position: venue
        });
        marker.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span2 img-tip">
            <div class="line-orange"></div>
        </div>
        <div class="span8">
            <h1>{{ object }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="span5 offset2">
            <h4 class="date"><span class="day">{{ meetup.date|date:"l" }}, </span>{{ meetup.date|date:"d.m.Y" }} <span class="pull-right"><i class="icon-clock"></i> {{ meetup.date|date:"H:i" }}</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="span10 offset2 margin-top-normal">
            {% for talk in meetup.talks.all %}
            <div class="media">
            	<div class="pull-left img-users">
	                {% for speaker in talk.speakers.all %}
	                <img src="{% if speaker.photo %}{{ speaker.photo.url }}{% else %}{% static 'img/avatar.png' %}{% endif %}" alt="Zdjecie {{ speaker }}" class="img-user"><br>
	                {% endfor %}
                </div>
                <div class="media-body">
                    <h5>
                        {% for speaker in talk.speakers.all %}
                        {% if speaker.website %}<a href="{{ speaker.website }}" target="_blank">{{ speaker }}</a>{% else %}{{ speaker }}{% endif %}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </h5>
                    <h3>
	                    {{ talk.title }}
                        {% if talk.slides_url or talk.slides_file %}
	                    <a href="{% if talk.slides_url %}{{ talk.slides_url }}{% else %}{{ talk.slides_file.url }}{% endif %}" target="_blank"><img src="{% static 'img/download.png' %}" alt="Link do prezentacji"></a>
                        {% endif %}
	                    {% if talk.video_url %}
	                    <a href="{{ talk.video_url }}" target="_blank"><img src="{% static 'img/video.png' %}" alt="Link do wideo"></a>
	                    {% endif %}
                    </h3>
                    <p>{{ talk.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if object.photos.exists %}
    <div class="row margin-top-big">
        <div class="span2 img-tip">
            <img src="{% static 'img/gallery.jpg' %}" alt="Galeria">
        </div>
        <div class="span10 gallery">
            <h2>Galeria</h2>
            <div class="imageRow">
                <div id="gallery" class="set row" data-toggle="modal-gallery" data-target="#modal-gallery">
                    {% for photo in object.photos.all %}
                    <div class="span2">
                        <a href="{{ photo.image.url }}" data-gallery="gallery" title="Zdjęcie {{ forloop.counter }}"><img src="{{ photo.image.url }}" alt="Zdjęcie {{ forloop.counter }}"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if object.sponsors.exists %}
    <div class="row margin-top-big">
        <div class="span2 img-tip">
            <img src="{% static 'img/sponsors.jpg' %}" alt="Sponsorzy">
        </div>
        <div class="span10">
            <h2>Sponsorzy</h2>
            <div class="row">
                {% for sponsor in object.sponsors.all %}
                <div class="span10 sponsors-desc">
                    <a href="{{ sponsor.website }}" target="_blank"><img class="img-sponsors" src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}"></a>
                    <p>{{ sponsor.description }}</p>
                    <p><a href="{{ sponsor.website }}" target="_blank">{{ sponsor.website }}</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row margin-top-big margin-bottom-large">
        <div class="span2 img-tip">
            <img src="{% static 'img/location.jpg' %}" alt="Lokalizacja">
        </div>
        <div class="span10">
            <h2>Lokalizacja</h2>
            <h4><img src="{% static 'img/location.png' %}" alt="Lokalizacja" class="icon-location"> {{ object.venue.name }}, {{ object.venue.address }}</h4>
            <div class="margin-top-normal">
	            <div id="map-canvas"></div>
            </div>
        </div>
    </div>
</div>

<div id="modal-gallery" class="modal modal-gallery hide fade" data-animation="false" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
</div>

{% endblock %}
