{% extends "base.html" %}

{% block content %}
<h1>{{ object.name }}</h1>
{% for talk in object.talks.all %}
<h2>{{ talk.time|time:"H:i" }} - {{ talk.title }} - 
    {% for speaker in talk.speakers.all %}
        {% if speaker.website %}<a href="{{ speaker.website }}">{{ speaker }}</a>{% else %}{{ speaker }}{% endif %}
        {% if not forloop.last %}, {% endif %}
    {% endfor %}</h2>
<p>{{ talk.description }}</p>
{% endfor %}
<h2>Sponsorzy</h2>
{% for sponsor in object.sponsors.all %}
<a href="{{ sponsor.website }}"><img width="200" src="{{ sponsor.logo.url }}"></a>
<p>{{ sponsor.description }}</p>
{% endfor %}
{% endblock %}
