{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span2 img-tip">
            <div class="line-orange"></div>
        </div>
        <div class="span8">
            <h1>{{ object.name }}</h1>
        </div>
        <div class="span2 margin-top-mini"><a href="{% url 'meetups:list' %}" class="button button-block back">POWRÓT</a></div>
    </div>
    <div class="row">
        <div class="span5 offset2">
            <h4 class="date"><span class="day">{{ meetup.date|date:"l" }}, </span>{{ meetup.date|date:"d.m.Y" }} <span class="pull-right"><i class="icon-clock"></i> {{ meetup.date|date:"H:i" }}</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="span10 offset2 margin-top-normal">
            {% for talk in meetup.talks.all %}
            <div class="media">
            	<div class="pull-left img-users">
	                {% for speaker in talk.speakers.all %}
	                <img src="{% if speaker.photo %}{{ speaker.photo.url }}{% else %}{% static 'img/avatar.png' %}{% endif %}" alt="Zdjecie {{ speaker }}" class="img-user"><br>
	                {% endfor %}
                </div>
                <div class="media-body">
                    <h5>
                        {% for speaker in talk.speakers.all %}
                        {% if speaker.website %}<a href="{{ speaker.website }}" target="_blank">{{ speaker }}</a>{% else %}{{ speaker }}{% endif %}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </h5>
                    <h3>
	                    {{ talk.title }} 
	                    <a href="" target="_blank"><img src="{% static 'img/download.png' %}" alt="Link do prezentacji"></a>
	                    {% if talk.video %}
	                    <a href="{{ talk.video }}" target="_blank"><img src="{% static 'img/video.png' %}" alt="Link do wideo"></a>
	                    {% endif %}
                    </h3>
                    <p>{{ talk.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if object.photos.exists %}
    <div class="row margin-top-big">
        <div class="span2 img-tip">
            <img src="{% static 'img/gallery.jpg' %}" alt="Galeria">
        </div>
        <div class="span10 gallery">
            <h2>Galeria</h2>
            <div class="imageRow">
                <div class="set row">
                    {% for photo in object.photos.all %}
                    <div class="span2">
                        <a href="{{ photo.image.url }}" title="Zdjęcie {{ forloop.counter }}"><img src="{{ photo.image.url }}" alt="Zdjęcie {{ forloop.counter }}"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if object.sponsors.exists %}
    <div class="row margin-top-big">
        <div class="span2 img-tip">
            <img src="{% static 'img/sponsors.jpg' %}" alt="Sponsorzy">
        </div>
        <div class="span10">
            <h2>Sponsorzy</h2>
            <div class="row">
                {% for sponsor in object.sponsors.all %}
                <div class="span5">
                    <a href="{{ sponsor.website }}" target="_blank"><img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}"></a>
                    <p>{{ sponsor.description }}</p>
                    <p><a href="{{ sponsor.website }}" target="_blank">{{ sponsor.website }}</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row margin-top-big margin-bottom-large">
        <div class="span2 img-tip">
            <img src="{% static 'img/location.jpg' %}" alt="Lokalizacja">
        </div>
        <div class="span10">
            <h2>Lokalizacja</h2>
            <h4><i class="icon-map-marker"></i> {{ object.venue.name }}, {{ object.venue.address }}</h4>
            <a href="https://maps.google.com/maps?q={{ object.venue.longitude }},{{ object.venue.latitude }}" target="_blank">
                <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=15&amp;size=780x240&amp;maptype=roadmap&amp;markers=color:blue%7C{{ object.venue.longitude }},{{ object.venue.latitude }}&amp;sensor=false" alt="Mapa">
            </a>
        </div>
    </div>
</div>

{% endblock %}
