{% extends 'base_content.html' %}

{% block title %}Zgłoszenie prezentacji{% endblock %}

{% block subcontent %}
    <div class="margin-bottom-large">
        <h1>Zgłoś swoją prelekcję</h1>
        <p>
            Chcesz zostać prelegentem podczas jednego z naszych spotkań? Nic prostszego! Wystarczy wypełnić poniższy formularz
            i poczekać na naszę odpowiedź.
        </p>
    </div>
    <div class="row margin-bottom-large">
        <div class="span6">
            <form method="POST" novalidate enctype="multipart/form-data">{% csrf_token %}
                <h2>Prelekcja</h2>
                {% include "meetups/includes/form_input.html" with field=form.talk_title label='Tytuł' %}
                {% include "meetups/includes/form_input.html" with field=form.talk_description label='Opis' %}
                <h2 class="margin-top-normal">Prelegent</h2>
                <p>
                    Jeżeli byłeś już kiedyś prelegentem na spotkaniu PyWaw wystarczy, że znajdziesz siebie na poniższej liście.
                    W przeciwnym wypadku musisz wypełnić wszystkie pozostałe pola.
                </p>
                {% include "meetups/includes/form_input.html" with field=form.speaker %}
                {% include "meetups/includes/form_input.html" with field=form.speaker_first_name label='Imię' %}
                {% include "meetups/includes/form_input.html" with field=form.speaker_last_name label='Nazwisko' %}
                {% include "meetups/includes/form_input.html" with field=form.speaker_biography label='Biogram' %}
                {% include "meetups/includes/form_input.html" with field=form.speaker_website label='Strona WWW' %}
                {% include "meetups/includes/form_input.html" with field=form.speaker_photo label='Zdjęcie' %}
                {% include "meetups/includes/form_input.html" with field=form.speaker_phone label='Numer telefonu' %}
                {% include "meetups/includes/form_input.html" with field=form.speaker_email label='E-mail' %}
                <input type="submit" class="button button-block pull-right margin-top-normal" value="Wyślij zgłoszenie">
            </form>
        </div>
    </div>
{% endblock %}
