{
    "DB_NAME": "{{ db_name }}",
    "DB_USER": "{{ db_user }}",
    "DB_PASSWORD": "{{ db_password }}",
    "DB_HOST": "{{ db_host }}",
    "DB_PORT": "5432",
    "ALLOWED_HOSTS": "{{ allowed_hosts }}",
    "EMAIL_USE_TLS": "{{ email_use_tls }}",
    "EMAIL_HOST": "{{ email_host }}",
    "EMAIL_HOST_USER": "{{ email_host_user }}",
    "EMAIL_PORT": "{{ email_port }}",
    "EMAIL_HOST_PASSWORD": "{{ email_host_password }}",
    "ADMINS": "{{ django_admins }}"
}
