

/********************** 1. BASE **********************************/
/********************** 1.1 Default Styles ***********************/

html{height:100%}
body{background:#fff;color:#828282;font-weight:400;font-size:14px;font-family:'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;height:100%}
h1,h2,h3,h4,h5,h6{color:#4d4d4d;font-weight:400;font-family:'Merriweather Sans';margin:0}

h1, h2{font-size:36px;line-height:26px;margin-bottom:30px}
h3{font-size:24px;line-height:24px;margin-bottom:10px}
h4{font-weight:700;font-size:20px;line-height:18px;margin-bottom:10px}
h5{font-weight:700;font-size:15px;line-height:16px;margin-bottom:5px}
p{font-size:14px;line-height:24px;font-weight:400;font-family:'Merriweather Sans'}
a, a:visited{color:#4790c3;text-decoration:none;
			-webkit-transition:ease .3s all;
			-moz-transition:ease .3s all;
			-o-transition:ease .3s all;
			-ms-transition:ease .3s all;
			transition:ease .3s all;}
a:hover, a:active{color:#4790c3;text-decoration:underline;
			-webkit-transition:ease .3s all;
			-moz-transition:ease .3s all;
			-o-transition:ease .3s all;
			-ms-transition:ease .3s all;
			transition:ease .3s all;}
strong{color:#4d4d4d}


/********************** 2. CLASSES **********************************/
/********************** 2.1 Common **********************************/

.margin-top-mini{margin-top:5px}
.margin-top-small{margin-top:10px}
.margin-top-normal{margin-top:20px}
.margin-top-big{margin-top:30px}
.margin-bottom-large{margin-bottom:40px}
.margin-left-large{margin-left:40px}

.date, .date-small{background:#4d4d4d;color:#fff;min-height:30px;line-height:30px;display:block;margin:0;padding:0 8px;-moz-box-sizing:border-box;box-sizing:border-box}
.date-small{text-align:center;line-height:24px}

.location{margin:10px 0}

.button, .button:visited{font-size:16px;font-weight:700;line-height:30px;font-family:'Merriweather Sans';min-height:30px;background:#4790c3;color:#fff}
.button:hover, .button:active{background:#4790c3;color:#fff;text-decoration:none}
.button-block{display:block;text-align:center}

.line-orange{background:#ffd34a;height:5px;width:80px;display:block}

.map{width:100%}
.gray{-moz-box-sizing:border-box;box-sizing:border-box;border:3px solid #ececee;filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");-webkit-filter:grayscale(100%);filter:gray}

.icon-clock{width:16px;height:16px;margin-top:5px;background:url("../img/clock.png") 0 0 no-repeat}
.icon-location-home, .icon-location{vertical-align:text-top;width:11px;height:16px;line-height:16px;margin-top:3px}
.icon-location-home{margin-top:0}

.box-home{margin-top:30px;padding:50px 0;background:#ececee url("../img/bg.jpg") center center no-repeat}
.box-home p{color:#4d4d4d}
.box-home strong{background:#4d4d4d;color:#fff;padding:0 1px}


/********************** 2.2 Typography ******************************/

.text-smaller{line-height:18px}
.text-number{margin:0 0 30px 0;float:left}


/********************** 2.3 Lists ***********************************/

ul li{line-height:24px}


.menu-top{margin:0;padding:0}
.menu-top li{float:left;list-style:none;margin:0 40px 0 0;padding:0}
.menu-top li a, .menu-top li a:visited{font-weight:700;font-size:15px;font-family:'Merriweather Sans';line-height:30px;padding-right:10px;display:block}
.menu-top li a:hover, .menu-top li a:active, .menu-top li.active a{color:#4d4d4d;text-decoration:none}


/********************** 3. COMPONENTS *******************************/
/********************** 3.1 Lightbox ******************************/

.gallery .span2 img{border:3px solid #ececee;margin-bottom:20px;display:block;min-height:50px;text-align:center}
.modal-gallery .modal-image:before, .modal-gallery .modal-image:after{font-size:48px !important;line-height:34px !important}


/********************** 4. STRUCTURE ********************************/
/********************** 4.1 Header **********************************/

header{margin:10px 0 40px}

#top{margin:20px 0 0 0}

.top-links{float:right}
.facebook, .twitter, .youtube, .rss, .dropdown{width:30px;height:30px;display:block;float:left}
.facebook{background:url("../img/icon-facebook.jpg") 0 0 no-repeat}
.twitter{background:url("../img/icon-twitter.jpg") 0 0 no-repeat}
.youtube{background:url("../img/icon-youtube.jpg") 0 0 no-repeat}
.rss{background:url("../img/icon-rss.jpg") 0 0 no-repeat}

.pull-right .dropdown-menu{min-width:120px}
.pull-right .dropdown-menu:after{position:absolute;top:-6px;left:auto;right:8px;display:inline-block;border-right:6px solid transparent;border-bottom:6px solid #ffffff;border-left:6px solid transparent;content:''}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:active, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:hover > a:visited, .dropdown-submenu:focus > a, .dropdown-submenu:focus > a:visited{background:#4790C3}


/********************** 4.2 Content *********************************/

#wrapper{min-height:100%;height:auto !important;height:100%;margin-bottom:-300px}
#push{clear:both;height:300px}


/********************** 4.3 Footer **********************************/

footer{clear:both;height:300px;background:#2e2e2e}
footer .line-orange{margin-top:50px}
footer h5{color:#ffd34a;margin-top:50px}
footer ul{margin:10px 0 0 0;padding:0}
footer ul li{list-style:none}

.stack{margin-left:40px}
.statistics h5, .stack h5{color:#c9c9c9;line-height:20px;margin-top:0;margin-right:20px}
.statistics p, .stack p{color:#737373;line-height:22px;margin:0 0 5px}
.statistics p span{color:#c9c9c9}


/********************** 5. PAGES ************************************/
/********************** 5.1 Home ************************************/

.sponsors{margin-top:50px; line-height: 110px;}
.sponsors td {margin: 20px 0px;text-align: center;position: relative;border-bottom:1px #ffd34a solid;border-top:4px solid rgba(77,77,77,.8);}
.sponsors td:hover{background:#ffd34a;}
.sponsors img{max-height:90% !important;max-width:85%;vertical-align: middle !important;}
.text-sponsors{line-height:27px;margin-right:10px;margin:10px 0px 0px 0px;}

.media .img-users{margin:0 20px 15px 0 !important;width:60px;height:60px;}
.img-user{margin:0 20px 15px 0 !important;}
.img-users .img-user{margin:0 0 15px 0 !important;}

.carousel{margin:0}

.more-info{width:100%;border:3px dashed #ededed;-moz-box-sizing:border-box;box-sizing:border-box}
.more-info h3{text-align:center;color:#e4e4e4;margin:0;font-weight:700;font-size:28px;line-height:54px}


/********************** 5.2 Meetup ************************************/

#map-canvas{width: 100%;height: 240px}
#map-canvas img{max-width: none;}

/********************** 5.3 Speakers ************************************/

ul.speakers-list{list-style-type: none;width:100%;}
.speakers-list li{line-height:18px;display:block;position:relative;text-align: center;margin:10px 0px;min-height:130px;}
.speakers-list img{max-width: 60px;max-height: 60px;margin:5px 0px;border-radius: 1px;}
.speakers-list a:hover{text-decoration: none;color:#ffd34a;}