/***
1. BASE
--- 1.1 Default Styles
2. CLASSES
--- 2.1 Common
--- 2.2 Typography
--- 2.3 Lists
3. COMPONENTS
--- 3.1 Page menu
4. STRUCTURE
--- 4.1 Header
--- 4.2 Nav
--- 4.3 Content
--- 4.4 Footer

5. PAGES
--- 5.1 Home
--- 5.2 Meetup
--- 5.3 Speakers
--- 5.4 Sponsors
--- 5.5 Meeting's

***/

/********************** 1. BASE **********************************/
/********************** 1.1 Default Styles ***********************/

*, *:after, *:before {
    box-sizing: border-box;
}

html{height:100%}
body{background:#fff;color:#828282;font-weight:400;font-size:14px;font-family:'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;height:100%}
h1,h2,h3,h4,h5,h6{color:#4d4d4d;font-weight:400;font-family:'Merriweather Sans';margin:0}

h1{font-size:40px; margin-bottom:30px; margin-top:-3px}
h2{font-size:30px; margin-bottom:20px; margin-top:-4px}
h3{font-size:24px;line-height:24px;margin-bottom:10px}
h4{font-weight:700;font-size:20px;line-height:18px;margin-bottom:10px}
h5{font-weight:700;font-size:15px;line-height:16px;margin-bottom:5px}
p{font-size:14px;line-height:21px;font-weight:400;font-family:'Merriweather Sans'; margin-bottom: 15px;}
a, a:visited{color:#4d4d4d;text-decoration:none;}
a:hover, a:active{text-decoration:none; border-bottom:1px solid #ccc; color: #222}
strong{color:#4d4d4d}


/********************** 2. CLASSES **********************************/
/********************** 2.1 Common **********************************/

.margin-top-mini{margin-top:5px}
.margin-top-small{margin-top:10px}
.margin-top-normal{margin-top:20px}
.margin-top-big{margin-top:30px}
.margin-bottom-small{margin-bottom: 10px;}
.margin-bottom-big{margin-bottom:30px}
.margin-bottom-large{margin-bottom:40px}
.margin-left-big{margin-left:32px}

.weight-normal{font-weight: normal;}

.link-grey, .link-grey a{color: #4d4d4d;}
.date, .date-small{background:#4d4d4d;color:#fff;min-height:30px;line-height:30px;display:block;margin:0;padding:0 8px;-moz-box-sizing:border-box;box-sizing:border-box}
.date-small{text-align:center;line-height:28px}

.location{margin:10px 0;}

.button, .button:visited{font-size:16px;font-weight:700;line-height:30px;font-family:'Merriweather Sans';min-height:30px;background:#4790c3;color:#fff !important;}
.button:hover, .button:active{background:#3680a2;color:#fff; border:0}
.button-block{display:block;text-align:center;}
.button--submit { padding: 5px 15px; }

.line-orange{background:#ffd34a;height:5px;width:80px;display:block}

.map{width:100%}
.gray{-moz-box-sizing:border-box;box-sizing:border-box;border:3px solid #ececee;filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");-webkit-filter:grayscale(100%);filter:gray}

.icon-clock{width:16px;height:16px;margin-top:5px;background:url("../img/clock.png") 0 0 no-repeat}
.icon-location-home, .icon-location{vertical-align:text-top;width:11px;height:16px;line-height:16px;margin-top:3px}
.icon-location-home{margin-top:0}

.box-home{margin-top:30px;padding:50px 0;background:#ececee url("../img/bg1.jpg") center center no-repeat;
			-webkit-background-size: cover;
  			-moz-background-size: cover;
  			-o-background-sizez: cover;
  			background-size: cover;
 }
.box-home p{color:#4d4d4d}
.box-home strong{background:#4d4d4d;color:#fff;padding:0 1px}

.box-dark {
  background: #eaeaea;
}

/********************** 2.2 Typography ******************************/

.text-smaller{line-height:18px}
.text-number{margin:0 0 30px 0;float:left}
header a:hover, a.no-hover:hover{border:0}

/********************** 2.3 Lists ***********************************/

ul li{line-height:24px}

/********************** 2.4 Forms ***********************************/

label {font-weight: bold; margin-bottom: 10px;}
label:after {content: ":"}
input[type=text], input[type=email], input[type=url], textarea {border-radius: 0; background-color: #FAF7F7; box-shadow: none; padding: 0}
select {background-color: #FAF7F7; -webkit-appearance: none; border-radius: 0;}
input[type=text], input[type=email], input[type=url], select {height: 40px;}
input[type=text], input[type=email], input[type=url], select, textarea {padding: 5px 10px;}

input[type=submit] {border: 0;}
.control-group .controls input, .control-group .controls textarea, .control-group .controls select {display: block; width: 100%;}
.control-group .controls .help-inline ul.errorlist {margin: 0;}
.control-group .controls .help-inline ul.errorlist li {list-style-type: none;}

/********************** 3. COMPONENTS *******************************/
/********************** 3.1 Page menu *******************************/

.page-menu {padding-left: 20px;}
.page-menu li {line-height: 24px;}
.page-menu li a {color: #4790c3;}


.summit-tab {
  background: url("../img/pywaw-summit.jpg");
  position: fixed;
  width: 40px;
  height: 247px;
  right: 0px;
  top: 200px;
  display: block;
}

/********************** 4. STRUCTURE ********************************/
/********************** 4.1 Header **********************************/

header{margin:10px 0 40px}

#top{margin:20px 0 0 0}

.top-links{float:right}
.meetup, .facebook, .twitter, .youtube, .rss, .dropdown, .mail{width:30px;height:30px;display:block;float:left}
.meetup{background:url("../img/icon-meetup.jpg") 0 0 no-repeat}
.facebook{background:url("../img/icon-facebook.jpg") 0 0 no-repeat}
.twitter{background:url("../img/icon-twitter.jpg") 0 0 no-repeat}
.youtube{background:url("../img/icon-youtube.jpg") 0 0 no-repeat}
.rss{background:url("../img/icon-rss.jpg") 0 0 no-repeat}
.mail{background:url("../img/icon-mail.png") 0 0 no-repeat}

.pull-right .dropdown-menu{min-width:120px}
.pull-right .dropdown-menu:after{position:absolute;top:-6px;left:auto;right:8px;display:inline-block;border-right:6px solid transparent;border-bottom:6px solid #ffffff;border-left:6px solid transparent;content:''}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:active, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:hover > a:visited, .dropdown-submenu:focus > a, .dropdown-submenu:focus > a:visited{background:#4790C3}

/********************** 4.2 Nav *********************************/

.menu-top{margin:0;padding:0}
.menu-top li{float:left;list-style:none;margin:0 34px 0 0;padding:0}
.menu-top li a, .menu-top li a:visited{font-weight:700;color:#4790c3;font-size:15px;font-family:'Merriweather Sans';line-height:30px;padding-right:10px;display:block}
.menu-top li a:hover, .menu-top li a:active, .menu-top li.active a{color:#4d4d4d;border:0}
.menu-top li a.active{color: #4d4d4d;}

/********************** 4.3 Content *********************************/

#wrapper{min-height:100%;height:auto !important;height:100%;margin-bottom:-300px}
#push{clear:both;height:300px}

/********************** 4.4 Footer **********************************/

footer{clear:both;height:330px;background:#2e2e2e}
footer .line-orange{margin-top:50px}
footer h5{color:#ffd34a;margin-top:50px}
footer a, footer a:visited, footer a:hover{color:#4790c3; border-color:#4790c3;}
footer ul{margin:10px 0 0 0;padding:0}
footer ul li{list-style:none}
footer div .without-header{margin-top:66px;}

.statistics h5, .stack h5{color:#c9c9c9;line-height:20px;margin-top:0;margin-right:20px}
.statistics p, .stack p{color:#737373;line-height:22px;margin:0 0 5px}
.statistics p span{color:#c9c9c9}

/********************** 5. PAGES ************************************/
/********************** 5.1 Home ************************************/

.sponsors{margin:4px 0px;}
.sponsors ul {margin:15px 0 0 15px;}
.sponsors ul li{float:left;list-style-type: none;border:1px solid #eee;}
.sponsors ul li img{display:block;margin: 0 auto;max-width:200px;max-height: 50px;padding: 10px;}
.sponsors img{max-height:150px;width:85%;vertical-align: middle !important;}
.text-sponsors{font-family: 'Merriweather Sans', Arial, sans-serif;font-weight:bold;margin-top: 0;font-size:14px;line-height:27px;}

.home-sponsors-table img{max-width:180px;max-height: 150px;}

.partner-logo{margin: 0 15px 20px 0; height: 60px;}

.media .img-user-container{margin:0 20px 15px 0 !important;width:60px;height:60px;}
.img-user{margin:0 20px 15px 0 !important;}
.img-user-container .img-user{margin:0 0 15px 0 !important;}

.carousel{margin:0}

.more-info{width:100%;border:3px dashed #ededed;-moz-box-sizing:border-box;box-sizing:border-box; margin-top: 10px;}
.more-info h3{text-align:center;color:#cdcdcd;margin:0;font-weight:700;font-size:28px;line-height:54px}

.video-landing {
  width: 800px;
  margin: 5px auto 30px;
  text-align: center;
  padding-left: 20px;
}

.talk-proposal-landing {
  text-align: center;
  margin-top: 20px;
}

.talk-proposal-description {
    margin-top: 15px;
}

.talk-proposal-button {
  display: inline-block;
  padding: 10px 25px;
  background: #5cb85c;
}

.talk-proposal-button:hover {
  background: #4cae4c;
}

.plus-icon {
  font-size: 21px;
  color: #fff;
  margin-right: 5px;
}

/********************** 5.2 Meetup ************************************/

#map-canvas{width: 100%;height: 240px}
#map-canvas img{max-width: none;}

.video-meetup-details {
  margin: 15px 0px 20px;
}

.meetup-talk {
  margin-bottom: 0px;
}

/********************** 5.3 Speakers ************************************/

.speaker-img-wrapper {display:block;height:140px;}
.speaker-list h3{display: inline;margin-right: 10px;margin-bottom: 5px;font-weight: normal;font-size: 20px;}
.speaker-list ul { list-style: none; margin-left: 22px;}
.speaker-list li {margin-bottom: 20px;}
.speaker-list ul li .img-users img {width: 60px;height: 60px;}
.speaker-list ul li:last-child{margin-bottom: 0;}
.speaker-link {margin-top: -5px;}

/********************** 5.4 Sponsors ************************************/

.sponsor-row a img:hover{text-decoration: none;border-bottom: none;}
.img-sponsors{max-height:200px; max-width: 150px; margin-bottom:15px;margin-top: 10px;}

/********************** 5.5 Meeting's ************************************/

.meeting-list h2.text-number{margin-bottom: 10px;font-size: 32px;}

/********************** 5.6 FAQ ************************************/

.faq h3 {
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 10px;
  margin-top: 25px;
}

#summit__logo-link {
    border-bottom: none;
}